:root {
    --vermelho-escuro: #BE1E2D;
    --vermelho-claro: #F2293D;
    --preto: #1C1C1C;
    --branco: #F2F2F2;
}

.sala-espera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    background: var(--preto);
    color: var(--branco);
}

.contagem-jogadores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    letter-spacing: 4px;
}

.contagem-jogadores h2,
.contagem-jogadores h3,
.player-name p {
    font-family: "Short Stack", serif;
}

.jogadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 45px 15px;
    min-height: 300px;
    gap: 20px;
}

.jogador {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.jogador-foto {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border-style: solid;
}

.jogador-foto img {
    width: 35px;
}