@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.area-header{
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    background: #F2F2F2;
    padding: 10px;
    width: calc(100%-0%);
    top:0;
    left: 0;
    right: 0;
    height: 100px;
    box-shadow: 0px 5px 15px 0px rgba(28,28,28,0.1);
}
.area{
    padding-left: 285px;
    color: #1C1C1C;
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
}
.area h4 {
    font-weight: 700;
    margin-bottom: 0;
}
.app-profile{
    position: absolute;
    right: -35px;
    display: flex;
    font-weight: 900;
    font-size: 25px;
}
img{
    width: 10%;
    cursor: pointer;
    font-size: 13px;
    justify-content: center;
    border-radius: 50%;
}
.app-profile {
    text-decoration: none;
}
.app-profile span{
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 80px;
    font-size: 15px;
    font-weight: 500;
    color: #1C1C1C;
    text-decoration: none;
}
.app-notification i {
    color: #1C1C1C;
}
.menu-mobile{
    display: none;
}
@media screen and (max-width: 800px) {
    .menu-mobile{
        position: absolute;
        margin-left: 220px;
        margin-top: 18px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
    }
    .menu-mobile
    .menu-mobile:focus, .menu-mobile:hover{
        text-decoration: none;
    }
}