.app-sidebar {
	z-index: 3;
	top: 0;
	background: #1C1C1C;
	position: fixed;
	left:0;
	min-width: 220px;
	max-width: 220px;
	height: 100vh;
	transition: 0.5s;
	overflow: auto;
    flex-shrink: 0;
}
.app-sidebar h2{
	color: #F2F2F2;
	margin-top: 2rem;
	margin-bottom: 4rem;
	font-family: "Short Stack", sans-serif;
}

@media screen and (max-width: 800px){
    .app-sidebar {
        min-width: 100%;
    }
}